
    @font-face {
        font-family: 'SuiNumberMedium';
        src: url(../../assets/font/Sui-Number-Medium.otf)
    
    }
    @font-face {
        font-family: 'SuiNumberRegular';
        src: url(../../assets/font/Sui-Number-Regular.otf)
    
    }
    @font-face {
        font-family: 'SuiNumberBold';
        src: url(../../assets/font/Sui-Number-Bold.otf)
    
    }